#Banner2_0 .banner-anim > .banner-anim-elem > .kakoeepiopf-editor_css {
  background-image: url(https://i.loli.net/2020/05/24/pRV6j9ZTLEuX5vi.png);
}
#Content0_0 .ant-col > .content0-block-item > .kakojfw6fcg-editor_css {
  width: 150px;
}
#Content0_0 .ant-col > .content0-block-item > .kakolwpz2ee-editor_css {
  width: 150px;
}
#Content0_0 .ant-col > .content0-block-item > .kakosl1l4hp-editor_css {
  width: 150px;
}
#Banner4_0 .home-page > .kakp95wnn9j-editor_css {
  background-color: #008b8b;
}
#Banner4_0 .home-page > .banner4-title-wrapper > .kakp8u4f3fe-editor_css {
}
#Banner4_0 .kakp9ii3ig-editor_css {
  background-clip: padding-box;
  background-color: #008b8b;
}
#Banner4_0.kakpcyyjeel-editor_css {
  background-color: #008b8b;
}
